[submodule "app-afb-helpers-submodule"]
	path = app-afb-helpers-submodule
	url = https://gerrit.automotivelinux.org/gerrit/apps/app-afb-helpers-submodule
[submodule "app-controller-submodule"]
	path = app-controller-submodule
	url = https://gerrit.automotivelinux.org/gerrit/apps/app-controller-submodule
